{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
<h2>About Us</h2>
<p>Welcome to the Recipe Platform! We are dedicated to providing a comprehensive and user-friendly platform for discovering, sharing, and enjoying delicious recipes.</p>
<p>Our mission is to bring together food enthusiasts from around the world and make it easy for them to find and share their favorite recipes. Whether you're a seasoned chef or just starting out in the kitchen, we have something for everyone!</p>
<p>Feel free to explore our collection of recipes, and don't hesitate to reach out if you have any questions or suggestions.</p>
<p>This is a demo project created by Sumit Pant using Django</p>
{% endblock %}
